name: My First Github Actions Workflow # name of the workflow

#event 
on:
  # push:
    # branches: ["main"]
  # pull_request:
    # branches: ["main"]

  workflow_dispatch:   # this is used for executing the workflow manually.

#job
jobs:
  build: 
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run a one liner script
        run: echo "Hello Github Actions!!!"

      - name: Run a multi line script
        run: |
          echo "Line 1",
          echo "Line 2",
          echo Line 3


          # With the | symbol, you can indicate that the subsequent lines are part of the same script block, which will ensure that each echo statement is executed on a separate line, producing the output you want.




