name: My First Github Actions Workflow # name of the workflow

#event 
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

  workflow_dispatch:

#job
jobs:
  build: 
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Run a one liner script
        run: echo "Hello Github Actions!!!"

      - name: Run a multi line script
        run:
          - echo Line 1,
          - echo Line 2,
          - echo Line 3




