name: Sum Numbers Workflow

on:
  workflow_dispatch:
    inputs:
      number1:
        type: number
        required: true
        description: 'First number'
      number2:
        type: number
        required: true
        description: 'Second number'

jobs:
  calculate-sum:
    runs-on: ubuntu-latest
    steps:
      - name: Calculate sum
        id: sum
        run: echo "::set-output name=result::$(( ${{ github.event.inputs.number1 }} + ${{ github.event.inputs.number2 }} ))"

      - name: Display result
        run: echo "The sum of ${{ github.event.inputs.number1 }} and ${{ github.event.inputs.number2 }} is ${{ steps.sum.outputs.result }}"