name: Sum Numbers Workflow

on:
  workflow_dispatch:
    inputs:
      number1:
        type: number
        required: true
        description: 'First number'
      number2:
        type: number
        required: true
        description: 'Second number'

jobs:
  calculate-sum:
    runs-on: ubuntu-latest
    steps:
      - name: Calculate sum
        id: sum22
        run: echo "::set-output name=result12::$(( ${{ inputs.number1 }} + ${{ inputs.number2 }} ))"

      - name: Display result
        run: echo "The sum of ${{ inputs.number1 }} and ${{ inputs.number2 }} is ${{ steps.sum22.outputs.result12 }}"